@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'face';
    src: url('../assets/facebook_font.OTF') format('truetype');
}

:root
{
    --main-color : #1877F2; 
    --hover-color: #176ddd;
    --black-color: #696969;
    --Noto : 'Noto Sans KR';
}